<section>
    <header class="title">
        <h1>Budgét</h1>
    </header>
    <div class="form-container">
        <form id="login-form">
            <h1 class="form-title">Login Here</h1>
            <label for="Username" id="username-label">Username:</label>
            <input type="text" id="username-login" name="username" placeholder="Username" required>
            <label for="password">Password:</label>
            <input type="password" id="password-login" name="password" placeholder="Password" required>
            <input value="login" type="submit" id="login-submitBtn">
        </form>
        <div id="errors"></div>
    </div>

    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>
    <div class="wave wave4"></div>
</section>
<script src="/login.js"></script>