<section>
    <header class="title">
        <h1>Budgét</h1>
    </header>
    <div class="form-container">
        <form id="signup-form">
            <h1 class="form-title">Sign Up Here</h1>
            <label for="username" id="username-label">Username:</label>
            <input type="text" id="username-signup" name="username" placeholder="Username" required>
            <label for="email" id="email-label">Email:</label>
            <input type="email" id="email-signup" name="email" placeholder="Email" required>
            <label for="password" id="password-label">Password:</label>
            <input type="password" id="password-signup" name="password" placeholder="Password" required>
            <input type="submit" value="signup" id="signup-submitBtn">
        </form>
        <div id="errors"></div>
    </div>
    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>
    <div class="wave wave4"></div>
</section>
<script src="/signup.js"></script>